div {
    /*background-color: yellow;*/
    background-image: url("https://img.freepik.com/premium-vector/maple-leafs-canadian-pattern-background_24877-22057.jpg");
    background-size: 25%;
}

a {
    background-color: white;
}